body{
	margin: 0 auto;	
	font-family: Garamond, sans-serif;	
	background-color: #EDF3F1;
}

header{
	display: block;
	text-align: center;
	background-image: url("assets/tapeMeasureCollage1.jpg");
	background-repeat: repeat-x;
	height: 20%;
}

header img{
	/*z-index: 10;*/
	position: absolute;
	width: 30%;
	right: 0;
	top: 0;
}

#siteTitle{
	background-color: rgba(0,0,0,0.5);
	margin: 0;
}

h1{
	color: white;
	font-size: 50px;
	margin-bottom: 0;
}

#tagLine{
	background-color: rgba(255,255,255,0.7);
	margin: 0 auto; 
	padding-top: 5px;
	padding-bottom: 5px;
}

#tagLine p{
	margin: 0;
}

#pageWrapper{
	width: 600px;
	margin: 0 auto;
}

#measurement{
	display: flex;
	align-items: center;
	text-align: center;
	margin: 10 30px;
	padding: 3px;
}

#measurement input[type="tel"] {
	flex-grow: 1;
	font-size: 80px;
	padding: 10px;
	text-align: right; 
	border: none;
	height: 100px;
	min-width: 150px;
	max-width: 200px;
	vertical-align: middle;
	color: #4B4B4D;
	border: 3px dashed #EACFC4;
	font-family: Garamond, sans-serif;
	outline: none;
}

::-webkit-input-placeholder {
   color: rgba(0,0,0,0.4);
   /*font-family: sans-serif;	*/
   font-size: 16px;
   font-weight: 200;
   margin: 0;
   text-align: left; 
}

.valuesContainer{
	display: flex;
	align-items: center;
	text-align: center;	
	margin-left: 30px;
	margin-right: 30px;
}

.valuesContainer p{
	color: rgba(255,255,255,0.7);
}


#slider{
	flex-grow: 1;
	width: 500px;
	margin-left: 20px;
	padding: 0;
}

/*.ui-slider-horizontal .ui-slider-handle {
	background-color: red;
	outline: none;
}*/


#sliderValue{
 	flex-grow: 1;
	font-size: 35px;
	padding: 20px 0;	
	border: none;
	height: 54px;	
	min-width: 100px;
	max-width: 100px;
	vertical-align: middle;
	color: #4B4B4D;
	background-color: white;
	border: 3px dashed #EACFC4;
	border-left: none;
}

#measure_guide{
	z-index: 5;	
	flex-grow: 1;
	width: 100%;
}

.ruler {	
	padding: 0;
	margin: 0;
	display: flex;
}

.rulerValue{	
	height: 60px;
	width: 2px;
	flex-grow: 1;
	border-right: 1px solid rgba(0,0,0,0.3); 
	margin-top: 14px;
}

#value_0{height: 30px;}
#value_1{height: 40px;}
#value_2{height: 30px;}
#value_3{border-right: 2px solid rgba(0,0,0,0.3); height: 50px;}
#value_4{height: 30px;}
#value_5{height: 40px;}
#value_6{height: 30px;}
#value_7{border-right: 3px solid rgba(0,0,0,0.3);}
#value_8{height: 30px;}
#value_9{height: 40px;}
#value_10{height: 30px;}
#value_11{border-right: 2px solid rgba(0,0,0,0.3); height: 50px;}
#value_12{height: 30px;}
#value_13{height: 40px;}
#value_14{height: 30px;}


.half{
	flex-grow: 1;
	background-color: #EBD0BF;
	height: 60px;
	margin: 1px;
}

.half p{
	font-weight: 700;
	font-size: 3em;
	margin: 0;
	padding: 0;
}

span {
	font-size: 0.75em;
	font-weight: 0.5em;
}

.quarter{
	flex-grow: 1;
	background-color: #E2ABA4;
	height: 60px;	
	margin: 1px;
}

.quarter p{
	font-weight: 700;
	font-size: 2em;
	margin: 0;
	padding: 0;	
	padding-top: 10px;
}

.eigth{
	flex-grow: 1;
	background-color: #E18473;
	height: 60px;
	margin: 1px;	
}

.eigth p{
	font-weight: 700;
	font-size: 1.4em;
	margin: 0 ;
	padding: 0;
	padding-top: 20px;
}

.third{
	flex-grow: 1;
	background-color: #B0CCB6;
	height: 60px;
	margin: 1px;
	height: 60px;
	max-height: 60px;
}

.third p{
	font-weight: 700;
	font-size: 3em;
	margin: 0;
	padding: 0;
}

.sixth{
	flex-grow: 1;
	background-color: #89BC93;
	height: 60px;
	margin: 1px;
}

.sixth p{
	font-weight: 700;
	font-size: 2em;
	margin: 0;
	padding: 0;
	padding-top: 10px;
}


footer{
	background-color: #878382;
	position: fixed;
	bottom: 0px;
	height: 30px;
	width: 100%;
	text-align: right;
}

footer p{
	color: #EACFC4;
	font-size: 14px;
	margin: 7px 30px 0 0;
}

footer p a{
	text-decoration: none;
	color: white;
}

footer p a:hover{
	border-bottom: 1px dashed #EACFC4;
}

